:root{
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
::selection{
    background-color: rgba(255, 255, 255, 0.708);
    color: black;
}
.container{
    width: 100vw;
    height:fit-content;
    background-color: rgba(0, 0, 0, 0.886);
}
.mainscreen{
    background: url(../images/imga/newminii.jpg);

    background-blend-mode: multiply;
    width: 98vw;
    height: 80vh;
    
    
    
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}

/* nav bar  */

.left{
    display: flex;
    align-items: center;
    gap: 0;

}
.nav{
    display: flex;
    align-items: center;
    padding: 0.4rem;
  
    justify-content: space-between;
}

.enter{
    color:#001f3f;
    margin: 0;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    margin: 0 0 0  0.7rem  ;
}
.header{
    transition:  linear;
    background-color: rgb(255, 255, 255);
   position: relative;
   top: 0;
   z-index: 1;
   position: fixed;
  width: 100%;
    height: fit-content;
    /* overflow: hidden; */
}


.fa-bars,.fa-xmark{
    margin-right:1rem ;
}
.ul{
    padding: 0;
    margin: 0;
}
.listitem{
    padding: 0;
    line-height: 2rem;
    list-style-type: none;
}
.ul{
    display: flex;
    flex-direction: column;

    margin-left:2rem ;
}
/* .header{
    transition:  linear;
    background-color: rgb(255, 255, 255);


   position: static;
} */
.link{
text-decoration: none;
color: black;
font-weight: 700;
font-size: 1.2rem;
text-transform: uppercase;

}

.link:hover::before{
    font-family: "Font Awesome 5 Free";
     font-weight: 900; 
    content: "\f068";
    color: dodgerblue;
    margin-right:0.2rem ;
}
.menu{
   padding-top:1rem ;
    padding-bottom:0.7rem ;
 position: absolute;

 background-color: white;
 transition: 0.4s linear;
 width: 98%;
    display: block;
}
.menu.hide{
 transition: 0.4s linear;

    display: none;
 position: absolute;

    
}

.main{
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    
}
.manu{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline  rgba(255, 255, 255, 0.750);

}
.para{
    color: white;
    max-width: 550px;
    font-weight: 700;
}
.bestsection{
    margin-top: 2.7rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
   }
   .best-heading{
    color: white;
    margin: 0.1rem;
   }
   .qualityline{
    background-color: dodgerblue;
    border: 0;
    outline: 0;
    width: 100px;
    height: 2px;
   }
   .para-best{
    color: white;
   }
   .para-best2{
    color: white;
   }
   .image-best{
    width: 20.1rem;
   }




   .productsession{
    box-sizing: border-box;
    padding: 0.7rem;
   }
   .heading-products{
    font-size: 2.4rem;
    margin-bottom: 0;
    /* pa */
   }
   .content-products{
    padding: 1.2rem;
    /* box-sizing: border-box; */
   }
   .img-product{
    width: 82vw;
    max-width: 550px;
   }
   .name-product{
    margin: 0;
    font-weight: 700;
    font-size: 1.7rem;
   }
   .description-product{
    margin-top: 0.4rem;
    color: grey;
    font-size: 500;
   }
   .line{
    height: 2px;
    background-color: grey;
    border: 0;
    outline: 0;
   }
   .slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   
   }
   .leftbutton,.rightbutton{
    width: fit-content;
   border: 2px solid dodgerblue;
   border-radius:50%;
   background-color: transparent;

   }
   .leftbutton{
    margin-top: 1rem;
   }
   .slider-img{
    width: 84vw;
    height: 40vh;
   }
   .slidermain{
    background-color:  rgba(0, 0, 0, 0.886);
   

   }
   .sliderheading{
    color: white;
    margin-bottom: 0;
   }
    .client{
        margin: 0;
       
        padding: 1rem;
     background-color:  rgba(0, 0, 0, 0.886);

   }
   .clientheading{
    margin: 0;
    margin-top: 2rem;
    color: white;
   
   }
   .client-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
   }
   .image-client{
    width: 20rem;
   }
   .para-client{
    color: white;
   }
   .footer{
    background-color: black;
    }
    .footerbox{
        display: flex;
        align-items: center;
        gap: 0.2em;
        justify-content: center;
    }
    .logof{
        width: 4.2rem;
        height: 4.1rem;
    }
    .hf{
        font-size: 2rem;
        -webkit-background-clip: text;
        font-weight: 700;
        color: transparent;
        background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    }
    .listitemf{
        list-style: none;
    }
    .linkf{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .ullink{
        padding: 0;
    }
    .flink{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem;
        box-sizing: border-box;
    }
    .mail{
        padding: 0.5rem;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: fit-content;
        gap: 0.4rem;
        color: white;
        font-size: 700;
        font-size: 1rem;
        border: 2px solid  dodgerblue
    }
    .mailus{
        text-decoration: none;
        
        font-size: 1.4rem;
        color: white;
    }
    .bottomf{
        width: 100%;
    background-color: grey;
    height: 2px;
    border: 0;
    outline: 0;
    }
    .copy{
        display: flex;
        justify-content: space-around;
    }
    .copyr{
        color: grey;
    }
    .developed{
        color: grey;
        
    }
    .linebefore{
        margin: 0;
        background-color: grey;
        height: 2px;
        border: 0;
        outline: 0;
    }
@media screen and (min-width:768px) and (max-width:1024px){
    .left{
        margin-left: 1.5rem;
    }
   .listitem{
    margin-left:1rem ;
   }
   .para{

    font-size: 1.4rem;
    max-width: 570px;
    font-weight: 500;
   }
   .bestsection{
    padding: 2rem;
   }
   .manu{
    font-size: 4rem;
   }
   .content-best{
    display: flex;
    justify-content: space-around;
   }
   .para-best, .para-best2{
    width: 40%;
    color: white;
   }

   .image-best{
    width: 25rem;
    border-radius:  5rem 0;
   }
   .row2-best{
    display: flex;
    justify-content: space-around;
   }
   .line{
    display: none;
   }
   .rowp1,.rowp2{
    display: flex;
   justify-content: space-evenly;
   gap: 1rem;
   margin-bottom:2rem ;
   }
   .img-product{
    width: 14rem;
    height: 10rem;
   }
   .slider{
    justify-content: center;
    flex-direction: row;
   }
   .slider-img{
    height: 25rem;
    width: 27rem;
   }
   .slidermain{
    padding: 2rem;

   }
.sliderheading{
    font-size: 2.4rem;
    color: white;
    margin-bottom: 0;
   }
   .client{
    padding: 1.5rem;
   }
   .clientheading{
    font-size: 2.4rem;
   }
  .client-content{
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding:0;
  }
  .para-client{
    width: 45%;
  }
  .image-client{
    width: 27rem;
    height: 27rem;
  }
  .footerbox{
    justify-content: start;
    padding: 1rem;
   }
   .ullink{
    display: flex;
    gap: 1rem;
    flex-direction: column;

}
.listitemf{
    display: flex;
    align-items: center;
}
.listitemf:hover::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f068";
    color: dodgerblue;
    margin-right:0.2rem ;
}


}
@media screen and (min-width:1025px) and (max-width:1499px){
    .fa-bars{
        display: none;
    }
    .mainscreen{
        border-radius: 0 0px 100px 0;
    }
    .menu.hide{
        position: static;
        background-color: transparent;
        width: fit-content;

       }
       
    #header{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .ul{
        flex-direction: row;
        gap:1em;
    }
    .menu.hide{
        display: block;
    }
    .manu{
        font-size: 4.4rem;
    }
    .para{
 
        max-width: 800px;
     
    }
    .bestsection{
        padding: 4rem;
    }
    .content-best{
        display: flex;
        justify-content: space-around;
       }
       .para-best, .para-best2{
        width: 40%;
        color: white;
       }
    
       .image-best{
        width: 25rem;
        border-radius:  5rem 0;
       }
       .row2-best{
        display: flex;
        justify-content: space-around;
       }
       .line{
        display: none;
       }
       .line{
        display: none;
       }
       .productsession{
        padding: 2rem;
       }
       .rowp1,.rowp2{
        display: flex;
       justify-content: space-evenly;
       gap: 1rem;
   margin-bottom:2rem ;

       }
       .img-product{
        width: 22rem;
        height: 15rem;
       }










        .slider{
  
    justify-content: center;
    flex-direction: row;
   }
   .slider-img{
    height: 27rem;
    width: 40rem;
   }
   .slidermain{
    padding: 2rem;

   }
   .sliderheading{
    color: white;
    margin-bottom: 0;
    font-size: 2.4rem;
   }
   .client{
    padding: 1.2.4rem;
   }
   .clientheading{
    font-size: 2.4rem;
   }
  .client-content{
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding:0;
  }
  .para-client{
    width: 45%;
    font-size: 1.2rem;

  }
  .image-client{
    width: 27rem;
    height: 24rem;
  }
   .footerbox{
    justify-content: start;
    padding: 1rem;
   }
   .ullink{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.listitemf{
    display: flex;
    align-items: center;
}
.listitemf:hover::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f068";
    color: dodgerblue;
    margin-right:0.2rem ;
}

}
@media screen and (min-width:1500px) {
    .mainscreen{
        border-radius: 0 0 100px 0;
    }
    .fa-bars{
        display: none;
    }
    .menu.hide{
        display: block;
        position: static;
        width: fit-content;
    }
    .header{
        display: flex;
        justify-content: space-around;
        width: 100vw;
        align-items: center;
    }
    .ul{
        flex-direction: row;
        gap:1.4rem;
        width: fit-content;
        display: flex;
    }
    .manu{
        font-size: 5rem;
    }
    .para{
        max-width: 870px;
        font-size: 1.4rem;
    }
    .bestsection{
        padding: 5rem;
    }
    .content-best{
        display: flex;
        justify-content: space-around;
       }
       .para-best, .para-best2{
        width: 25%;
        color: white;
       }
    
       .image-best{

        position: relative;
        top: 10px;
        width: 550px;
        border-radius:5rem 0;
       }
       .row2-best{
        /* width: 80%; */
        display: flex;
        justify-content: space-evenly;
        /* gap: 15%; */
       }
       .line{
        display: none;
       }
       .line{
        display: none;
       }
       .description-product{
        width: 440px;
        
       }
       .productsession{
        padding: 7rem;
       }
       .rowp1,.rowp2{
        display: flex;
       justify-content: space-evenly;
         margin-bottom:2rem ;

       gap: 1rem;
       }
       .img-product{
        width: 27.4rem;
        height: 17.4rem;
       }
    .slider{
    justify-content: center;
    flex-direction: row;
   }
   .slider-img{
    width: 40rem;
    height: 27rem;
   }
   .slidermain{
    padding: 4rem;

   }
   .sliderheading{
    font-size:2.4rem ;
    color: white;
    margin-bottom: 0;
   }
   .client{
    padding: 4rem;
    display: flex;
    justify-content: center;
   }
   .clientheading{
    font-size: 2.4rem;
   }
  .client-content{
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding:0;
  }
  .para-client{
    width: 45%;
    font-size: 1.4rem;
  }
  .image-client{
    width: 40rem;
    height: 27rem;
  }
   .footerbox{
    justify-content: start;
    padding: 1rem;
   }
   .ullink{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.listitemf{
    display: flex;
    align-items: center;
}
.listitemf:hover::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f068";
    color: dodgerblue;
    margin-right:0.2rem ;
}
}