body{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::selection{
    background-color: rgba(32, 240, 255, 0.708);
}
.container{
    width: 100vw;
    height:fit-content;
    background-color: rgba(0, 0, 0, 0.886);
}
.mainscreen{
    background: url(../images/imga/new.jpg);

    background-blend-mode: multiply;
    width: 98vw;
    height: 90vh;
    
    
    
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}
/* nav bar  */

.left{
    display: flex;
    align-items: center;
    gap: 0;

}
.nav{
    display: flex;
    align-items: center;
    padding: 0.4rem;
  
    justify-content: space-between;
}

.enter{
    color:#001f3f;
    margin: 0;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    margin: 0 0 0  0.7rem  ;
}
.header{
    transition:  linear;
    background-color: rgb(255, 255, 255);
   position: relative;
   top: 0;
   position: fixed;
  width: 100%;
    height: fit-content;
    /* overflow: hidden; */
}


.fa-bars{
    margin-right:1rem ;
}
.ul{
    padding: 0;
    margin: 0;
}
.listitem{
    padding: 0;
    line-height: 2rem;
    list-style-type: none;
}
.ul{
    display: flex;
    flex-direction: column;

    margin-left:2rem ;
}
/* .header{
    transition:  linear;
    background-color: rgb(255, 255, 255);


   position: static;
} */
.link{
text-decoration: none;
color: black;
font-weight: 700;
font-size: 1.2rem;
text-transform: uppercase;

}

.link:hover::before{
    content: "-";
    color: dodgerblue;
    margin-right:0.2rem ;
}
.menu{
   padding-top:1rem ;
    padding-bottom:0.7rem ;
 position: absolute;

 background-color: white;
 transition: 0.4s linear;
 width: 98%;
    display: block;
}
.menu.hide{
 transition: 0.4s linear;

    display: none;
 position: absolute;

    
}

.main{
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    
}
.manu{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline  rgba(255, 255, 255, 0.750);

}
.para{
    color: white;
    max-width: 550px;
    font-weight: 700;
}
.below-main{
    margin-top:2.7rem ;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.heading{
    color: white;
    font-size: 2.5rem;
}
.para2{
    color: white;
    margin: 0;
    padding: 1rem;
    margin-bottom:2rem ;
    font-size: 1.2rem;
}
.image{
    display: flex;
    justify-content: end;
    margin-right:1.7rem; 
}
.qualityproducts{
    border-radius: 20px;
    width: 70vw;
    max-width:400px ;
    margin-bottom:1rem ;
  
}
.serviceh{
    margin-top:4rem ;
align-items: center;
padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.headings-services{
    font-size: 2rem;
    text-decoration: underline;

    font-weight: 700;
    color: dodgerblue;
}
.read{
    color: dodgerblue;
}
.services{
    padding: 2rem;
    margin-top:2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service{
    display: flex;
    height: 175px;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 205px;
 
}
#icon-service{
    margin-left:0.2rem ;
    margin-bottom:0.4rem ;
}
.heading-service{
    color: black;
    margin:0.7rem  0 0.5rem 0;
    
}
.para-service{
    margin: 0;
    color: grey;
    max-width: 17rem;
}
.content-service:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
}

/* media quriess */
@media screen and (min-width:768px) and (max-width:1024px){
    .left{
        margin-left: 1.5rem;
    }
   .listitem{
    margin-left:1rem ;
   }
   .para{

    font-size: 1.4rem;
    max-width: 570px;
   }
   .manu{
    font-size: 4rem;
   }
   .below-main{
    padding: 2rem;
    flex-direction:row;
    justify-content: space-around;
   }
   .heading{
    letter-spacing: 0.5rem;
    font-size: 2.7rem;
    display: block;
    margin: 0;
    line-height: 4.5rem;
   }
   .qualityproducts{
    width: 400px;
    height: 400px;
    margin-left:45% ;
   }
   .para2{
    padding: 1rem;
    font-size: 1.2rem;
    width: 420px;
   }
   .services{
   display: flex;
   flex-direction: column;
   gap:4rem;
  

   }
   .service{
    height: 220px;
    
   }
   .row,.row2{
    display: flex;
    width: 100%;
    justify-content: space-around;
   }
 
   .para-service{
    max-width: 150px;
   }
}
@media screen and (min-width:1025px) and (max-width:1499px){
    .fa-bars{
        display: none;
    }
    .mainscreen{
        border-radius: 0 0px 100px 0;
    }
    .menu.hide{
        position: static;
        background-color: transparent;
        width: fit-content;

       }
       
    #header{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .ul{
        flex-direction: row;
        gap:1em;
    }
    .menu.hide{
        display: block;
    }
    .manu{
        font-size: 4.4rem;
    }
    .para{
 
        max-width: 800px;
     
    }
    .below-main{
        flex-direction: row;
        justify-content: space-around;
    }
    .heading{
        font-size: 4rem;
        margin: 0.7rem;
    }
    .image{
        justify-content: center;
        margin-left:45% ;
    }
    .para2{
        width: 400px;
    }
    .services{
        flex-direction: column;
        gap: 4rem;
    }
    .service{
        width: 210px;
    }
    .row,.row2{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5rem;
        flex-direction: row;
    }
}
@media screen and (min-width:1500px) {
    .mainscreen{
        border-radius: 0 0 100px 0;
    }
    .fa-bars{
        display: none;
    }
    .menu.hide{
        display: block;
        position: static;
        width: fit-content;
    }
    .header{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    .ul{
        flex-direction: row;
        gap:1.4rem;
        width: fit-content;
        display: flex;
    }
    .manu{
        font-size: 5rem;
    }
    .para{
        max-width: 870px;
        font-size: 1.4rem;
    }
    .below-main{
        flex-direction: row;
        justify-content: space-around;
    }
    .heading{
        font-size: 4rem;
    }
    .para2{
        width: 500px;
        font-size: 1.5rem;
        columns: 2;

    }
    .image{
        justify-content: center;
    }
    .qualityproducts{
        margin-left:47% ;
    }
    .serviceh{
       padding:0 4rem 0 4.1rem;
    }
    .headings-services{
        font-size: 2.7rem;
    }
    .services{
        gap: 4.1rem;
        flex-direction: column;
    }
    .service{
        width: 210px;
    }
    .row,.row2{
        width: 100%;
        gap:7rem;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
}
